fastapi
uvicorn
pydantic
python-dotenv
groq
psutil
pycaw
comtypes
kokoro-onnx
onnxruntime
soundfile
pygame
duckduckgo-search
SpeechRecognition
pyaudio
vosk
sounddevice
numpy
sse-starlette
sse_starlette
lxml
primp
requests
google-genai
